aiohttp
jishaku
discord.py
humanize
dblpy
stringcase
Unidecode
tabulate
discord
discord.ext.menus
mystbin.py
discord_ext_ipc
python-dotenv
aiosqlite
dpymenus
pygit2
polaroid
dateparser
pillow
psutil
quart_auth
quart_discord
quart
wavelink
topggpy
matplotlib