aiohttp==3.7.4.post0
psutil==5.8.0
jishaku==1.20.0.220
discord.py==1.7.1
humanize==3.3.0
wonderwords==2.2.0
dblpy==0.4.0
dpymenus==1.3.1
requests==2.25.1
stringcase==1.2.0
Unidecode==1.2.0
tabulate==0.8.9
discord==1.0.1
Pillow==8.2.0
discord.ext.menus
discord.ext.flags
mystbin.py
Quart_Discord==2.1.4
Quart==0.14.1
discord_ext_ipc
python-dotenv
aiosqlite