aiohttp
psutil
jishaku
discord.py
humanize
wonderwords
dblpy
dpymenus
requests
stringcase
Unidecode
tabulate
discord
Pillow
discord.ext.menus
discord.ext.flags
mystbin.py
Quart_Discord
Quart
discord_ext_ipc
python-dotenv
aiosqlite